* {
  margin: 0;
  padding: 0;
  font-family: "Edu NSW ACT Foundation";
}

body {
  background-color: #bdd9f2;
}

header {
  text-align:center;  
  background-color: #bdd9f2;
}

.pie {
  text-align: center;
  background-color: #378c8c;
  padding:50px;
}

section {
  font-size: larger;
  background-color: #bdd9f2;
  padding: 30px;
  text-align: center;
}

article {
  font-size: larger;
  background-color: #bdd9f2;
  padding: 20px;
  text-align: center;
}

main {
  font-size: larger;
  background-color: #bdd9f2;
  padding: 50px;
  text-align: center;
}

.logoinicial {
  display: block;
  margin-top: 70px; 
  margin-left: auto;
  margin-right: auto;
  
  width: 600px;
  height: auto;
  
}


.instal {
    display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

/* CSS personalizado para el carrusel */
.car {
  width: 600px; /* Ancho deseado del carrusel */
  margin: 0 auto; /* Centrar el carrusel horizontalmente */
}

.car img {
  max-height: 500px; /* Altura máxima de las imágenes */
  width: auto; /* Ancho automático */
  margin: 0 auto; /* Centrar las imágenes horizontalmente */
}



.men {

  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  margin-top: 30px;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 100px;
  
}

.men div img {
  width: 300px;
  height: 400px;
  display: inline; 
  padding-top: 35px;
}


.navbar-expand-lg {
  display: flex;
  flex-flow: wrap;
  margin: 60px;
  justify-content:right;
  font-size: medium;
  display:inline
  
}

.nave {
  display: flex;
  flex-flow: wrap;
  justify-content: flex-end; /* Alinea los elementos a la derecha */
  font-size:larger;
  position: absolute;
  right: 120px; /* Posiciona el menú en el extremo derecho de la página */
  top: 20px; /* Opcional: posiciona el menú en la parte superior de la página */

}

.cont {
  text-align: left;
  background-color: #378c8c;
}


h1 {
  font: size 60px;
  margin-top: 50px; 
  margin-left: auto;
  margin-right: auto;

}

.log {
  position: fixed; /* Fija el elemento en una posición específica */
  top: 80px; /* Lo posiciona en la parte superior de la ventana del navegador */
  left: 1450px; /* Lo posiciona en el borde izquierdo de la ventana del navegador */
  z-index: 1000;
}




.mb-3{

  display: flex;
  flex-flow: wrap;
  justify-content: left;
  margin-top: 70px;
  margin-left: 10px;
  margin-right: 700px;

  
}
