@media (max-width: 768px) {
  .grid-container {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-template-areas: "encab" "main" "pie";
  }
  .block__encab {
    justify-content: center;
  }
}


@media (max-width: 768px) {

  .tis {
    padding: 50px; 
  }
  .filoso {
    padding: 50px; 
  }

  .car {
    max-width: 90%; 
    margin: 50px auto 30px; 
  }

  .men {
    margin: 30px auto 100px; 
  }

  .mb-3,
  .sidebar__form,
  .sidebar__item {
    margin: 30px auto; 
  }

  .vide iframe {
    width: 90%; 
  }

  .log {
    left: 50%; 
    transform: translateX(-50%); 
  }
}


.navbar-nav {
  display: flex;
  gap: 20px; /* Espacio entre los elementos del menú */
}

.nav-link {
  color: rgb(13, 1, 1); /* Color del texto del enlace */
}

/* Media queries para ajustar los estilos en diferentes tamaños de pantalla */
@media (max-width: 767px) {
  .nave {
    justify-content: center; /* Centra los elementos del menú en pantallas pequeñas */
  }

  .navbar-nav {
    flex-direction: column; /* Coloca los elementos del menú en una columna en pantallas pequeñas */
    gap: 10px; /* Reduce el espacio entre los elementos del menú */
  }

  .nav-link {
    text-align: center; /* Centra el texto del enlace en pantallas pequeñas */
  }
}
