@media (max-width: 768px) {
  .grid-container {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-template-areas: "encab" "main" "pie";
  }
  .block__encab {
    justify-content: center;
  }
}


@media (max-width: 768px) {

  .tis {
    padding: 50px; 
  }
  .filoso {
    padding: 50px; 
  }

  .car {
    max-width: 90%; 
    margin: 50px auto 30px; 
  }

  .men {
    margin: 30px auto 100px; 
  }

  .mb-3,
  .sidebar__form,
  .sidebar__item {
    margin: 30px auto; 
  }

  .vide iframe {
    width: 90%; 
  }

  .log {
    left: 50%; 
    transform: translateX(-50%); 
  }
}

/* Estilos para pantallas grandes */
@media (min-width: 992px) {
  .nave {
    display: block; /* Asegúrate de que el menú sea visible */
  }
}

/* Estilos para pantallas pequeñas */
@media (max-width: 991px) {
  .nave {
    display: none; /* Oculta el menú en pantallas pequeñas */
  }

  .navbar-toggler {
    display: block; /* Muestra el botón del menú en pantallas pequeñas */
  }

  .offcanvas {
    display: none; /* Asegúrate de que el menú fuera de canvas esté oculto por defecto */
  }
}
